.navBot{
    margin-right: 15px;
    position: relative;
    top:12px;
}
.pokeImage{
    width: 100%;
    padding: 10px;
    max-height: 300px;
    position:relative;
    top:30px;

}
.cardContainer{
    background-color: rgb(62, 64, 70);
    padding:0 20px 10px 10px;
    border-radius: 10px;
    color:white;
    overflow: hidden;
    border: 10px solid rgb(96, 99, 107);
}
.imagenContainter{
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
    min-height: 350px;
    margin-right: 10px;
}
.loading{
    width: 70px;
    margin: 0 auto;
}
.datosContainer{
    background-color: rgb(96, 99, 107);
    border-radius: 20px;  
    margin-bottom: 15px;
}
body{
    background-color: rgb(30, 31, 34);
    color:white;
}
.logo{
    width: 100%;
    max-width: 30px;margin-right: 10px;
    position: relative;
    bottom: 8px;;
}
.cabecera{
    display: inline;
}

.clase{
    margin-left: 10px;
    background-color: rgb(96, 99, 107);
    padding:10px;
    position:relative;
    top:19px;
}
.estadisticasCont{
    background-color: rgb(62, 64, 70);
    padding: 10px;
    border-radius: 15px;
    margin-top:20px;
    margin-bottom: 20px;
}
.headCont{
    overflow: hidden;
}
.listado-item {
    
   padding:10px ;
   border: 10px solid rgb(30, 31, 34);
   background-color: rgb(62, 64, 70);;
   color: white;
    
}
.listado-item:hover, .listado-item button:hover{
    background-color: rgb(96, 99, 107);
}
.botonNavegacionLista{
    width: 49%;
    margin:20px 5px 20px 5px;

}
.navegacionListaCont{
    margin:0 auto;
}